@using HairSalon.Models;

<html>
  <head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel='stylesheet' href='~/css/styles.css'>
  </head>
    <body>

    <div class="container">
  	<div class="row">

      <h1>NL Hair Salon</h1>
      <ul>

      @if (Model.Count == 0)
      {
        <p>You have no clients in your list!</p>
      }
      @if (Model.Count !=0)
      {
        @foreach (Client client in Model)
        {
        <li><a href='/clients/@client.GetId()'>@client.GetName()</a></li>
        }
      }

      </ul>
      <a href="/clients/new">Add a new client.</a>
      <form action="/clients/deleteAll" method="post">
      <button type="submit" name="button">Clear All Clients</button>
      </form>

    </div>
    </div>

    </body>
  </html>
